.chess-board {
  --board-size: calc(min(100vh, 100vw));
  --square-bg-white: green;
  --square-bg-black: orange;
  --square-bg-selected: deepskyblue;
  --square-bg-available: purple;
  --square-bg-available-mark: var(--square-bg-available);
  --piece-size: 90%;
  --square-mark-size: 20%;

  position: relative;
}

.chess-board__squares {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: var(--board-size);
  height: var(--board-size);
}

.chess-board-square {
  background-color: var(--square-bg-white);
  user-select: none;
  position: relative;

  &:nth-of-type(16n + 1),
  &:nth-of-type(16n + 3),
  &:nth-of-type(16n + 5),
  &:nth-of-type(16n + 7),
  &:nth-of-type(16n + 10),
  &:nth-of-type(16n + 12),
  &:nth-of-type(16n + 14),
  &:nth-of-type(16n + 16) {
    background-color: var(--square-bg-black);
  }

  &.is-selected {
    background-color: var(--square-bg-selected);
  }

  &.is-highlighted {
    background-color: var(--square-bg-available);
  }

  * {
    pointer-events: none;
  }
}

.chess-board-square__mark {
  width: var(--square-mark-size);
  height: var(--square-mark-size);
  border-radius: 100%;
  background-color: var(--square-bg-available-mark);
}

.chess-board-square__label {
  text-shadow: 0 0 0.25em black;
  position: absolute;
  font-size: 0.875rem;
  top: 0.2rem;
  left: 0.2rem;
  color: white;
  font-weight: 600;
}

.chess-board__pieces {
  width: 100%;
  height: 100%;

  * {
    pointer-events: none;
  }
}

.chess-board-piece {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 12.5%;
  height: 12.5%;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);

  img {
    width: var(--piece-size);
    height: var(--piece-size);
  }
}
